.home {
    background: #FFDB00 0% 0% no-repeat padding-box;
    opacity: 1;
    height: auto;
    position: relative;
}

.home .header {
    width: 60%;
    margin-top: 30px;
    padding: 20px 40px;
}

.home .header > h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 64px;
    text-align: left;
    letter-spacing: 0;
    line-height: 64px;
    color: #1E1E1E;
    opacity: 1;
    margin: 0;
    max-width: 300px;
}

.home .header > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: left;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 1;
    margin: 30px 0 0;
}

/* Cards Section */
.home .cards {
    margin: 100px 40px;
    background-image: url("../../assets/cards_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.home .section1 {
    justify-content: flex-end;
    margin-bottom: 50px;
    position: relative;
}

.home .section1 .rhombus {
    position: absolute;
    right: 40px;
    bottom: 132px;
}

.home .section1 .rhombus > img {
    width: 100px;
    height: 100px;
}

.home .section1 .rhombus > p {
    text-align: center;
    letter-spacing: 0;
    color: #FFDB00;
    opacity: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    font-size: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 26px;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .section2 {
   justify-content: flex-start;
}

.home .cards_section {
    display: flex;
    align-items: center;
}

.home .cards_section .card {
    padding: 20px;
    border: 1px solid #FFFFFF;
    width: 400px;
    border-radius: 25px;
    position: relative;
}

.home .cards_section .card:last-child {
    margin-left: 50px;
}

.home .cards_section .card .img_section {
    height: 400px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    opacity: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .cards_section .card .img_section img {
    width: -webkit-fill-available;
    border-radius: 16px;
    height: inherit;
}

.home .cards_section.section2 .card .img_section svg {
    width: 120px;
}

.home .cards_section .card .details {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    opacity: 1;
    padding: 10px 20px;
}

.home .cards_section .card .details h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 -1px 0 0;
}

.home .cards_section .card .details p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    color: #8E8E8E;
    opacity: 1;
    margin: 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 76px;
}

.home .cards_section.section2 .card .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}

.home .cards_section.section2 .card .actions .claim {
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 60px;
}

.home .cards_section.section2 .card .actions .purchase {
    text-align: center;
    letter-spacing: 0;
    color: #8E8E8E;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* Future Group */
.home .future_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: #FFFFFF;
}

.home .future_group > h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 1;
    margin: 0;
}

.home .future_group > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 1;
    max-width: 680px;
    margin: 30px 0 0;
}

/* Footer */
.home .footer {
    background: #1E1E1E 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.home .footer > img {
    width: 91px
}

.home .footer .copy_right {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    color: #FFDB00;
    opacity: 1;
    position: relative;
}

.home .footer .social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.home .footer > div svg {
    width: 20px;
    height: 20px;
    fill: #FFDB00;
    cursor: pointer;
}

.home .footer > div svg:first-child {
    width: 26px;
    height: 30px;
}

.home .footer > div svg:nth-child(2) {
    width: 26px;
    height: 30px;
    margin: 0 20px;
}
